*{
  margin: auto;
  color: purple;

  }
  .grid{
  width: 500px;
  height: 1000x;
  display: flex;
  flex-wrap: wrap;

background-color: red;
}

.grid div{
  width: 50px;
  height: 20px;
text-align:  center;

}
.grid {
}

.letterA::before{
font-size: 40px;
  content: "A";
}


.letterB::before{
  font-size: 40px;
    content: "B";
}


.letterC::before{
  font-size: 40px;
    content: "C";

}

.letterD::before{
  font-size: 40px;
    content: "D";

}
.letterE::before{
  font-size: 40px;
    content: "E";

}
.letterF::before{
  font-size: 40px;
    content: "F";

}
.letterG::before{
  font-size: 40px;
    content: "G";

}
.letterH::before{
  font-size: 40px;
    content: "H";

}

.letterI::before{
  font-size: 40px;
    content: "I";

}
.letterJ::before{
  font-size: 40px;
    content: "J";

}
.letterK::before{
  font-size: 40px;
    content: "K";

}
.letterL::before{
  font-size: 40px;
    content: "L";

}
.letterM::before{
  font-size: 40px;
    content: "M";

}
.letterN::before{
  font-size: 40px;
    content: "N";

}
.letterO::before{
  font-size: 40px;
    content: "O";

}
.letterP::before{
  font-size: 40px;
    content: "P";

}
.letterQ::before{
  font-size: 40px;
    content: "Q";

}
.letterR::before{
  font-size: 40px;
    content: "R";

}
.letterS::before{
  font-size: 40px;
    content: "S";

}
.letterT::before{
  font-size: 40px;
    content: "T";

}
.letterU::before{
  font-size: 40px;
    content: "U";

}
.letterV::before{
  font-size: 40px;
    content: "V";

}
.letterW::before{
  font-size: 40px;
    content: "W";

}
.letterX::before{
  font-size: 40px;
    content: "X";

}
.letterY::before{
  font-size: 40px;
    content: "Y";

}
.letterZ::before{
  font-size: 40px;
    content: "Z";

}

.score{
  
}
